<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- Nav partial -->
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">OOPS, page not found :)</div>
  </body>

  <!-- Footer partial -->
  <%- include('./partials/footer.ejs') %>
</html>
