<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- Nav partial -->
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt error officiis nemo
        repellendus fugiat magni consequatur maxime. Consequuntur nisi rerum, quos atque doloremque
        quaerat aut repudiandae voluptates facere sapiente quia?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt error officiis nemo
        repellendus fugiat magni consequatur maxime. Consequuntur nisi rerum, quos atque doloremque
        quaerat aut repudiandae voluptates facere sapiente quia?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt error officiis nemo
        repellendus fugiat magni consequatur maxime. Consequuntur nisi rerum, quos atque doloremque
        quaerat aut repudiandae voluptates facere sapiente quia?
      </p>
    </div>

    <!-- Footer partial -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
